In [1]:
import pandas as pd
import keras
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

In [15]:
df = pd.read_csv('D:\\Deep-Learning-U\\DL Colab Changes\\Artificial_Neural_Networks 9\\Churn_Modelling.csv')

In [16]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
df_copy = df.copy()

In [18]:
df_copy.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1,inplace=True)

In [19]:
df_copy.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
geo_dumm = pd.get_dummies(df_copy.Geography, drop_first = True)

In [43]:
gen_dumm = pd.get_dummies(df_copy.Gender, drop_first = True)
gen_dumm.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [44]:
df_copy.drop(['Geography','Gender'], axis=1, inplace=True)

In [45]:
df_copy = pd.concat([df_copy, gen_dumm, geo_dumm], axis=1)

In [46]:
x = df_copy.drop('Exited', axis=1)
y = df_copy['Exited']

In [47]:
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size = 0.2, random_state = 0)
train_x.shape
train_y.shape

(8000,)

In [48]:
ss = StandardScaler()

In [49]:
train_x = ss.fit_transform(train_x)
test_x = ss.transform(test_x)
train_x.shape

(8000, 11)

In [50]:
from keras.models import Sequential
from keras.layers import Dense

In [62]:
classifier = Sequential()

In [63]:
classifier.add(Dense(units=8, input_dim =11 ,  activation='relu', kernel_initializer= 'uniform', ))

In [64]:
classifier.add(Dense(units=6, activation='relu', kernel_initializer= 'uniform', ))

In [65]:
classifier.add(Dense(units=1, activation='sigmoid', kernel_initializer = 'uniform'))

In [66]:
classifier.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [ ]:
classifier.fit(train_x, train_y, batch_size=10, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 4s 478us/step - loss: 0.3512 - accuracy: 0.8585
Epoch 2/100
8000/8000 [==============================] - 4s 493us/step - loss: 0.3486 - accuracy: 0.8589
Epoch 3/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3471 - accuracy: 0.86 - 4s 479us/step - loss: 0.3471 - accuracy: 0.8610
Epoch 4/100
8000/8000 [==============================] - 3s 434us/step - loss: 0.3453 - accuracy: 0.8580
Epoch 5/100
8000/8000 [==============================] - 4s 438us/step - loss: 0.3444 - accuracy: 0.8610
Epoch 6/100
8000/8000 [==============================] - 4s 486us/step - loss: 0.3435 - accuracy: 0.8609
Epoch 7/100
8000/8000 [==============================] - 4s 443us/step - loss: 0.3430 - accuracy: 0.8608
Epoch 8/100
8000/8000 [==============================] - 4s 440us/step - loss: 0.3422 - accuracy: 0.8614
Epoch 9/100
8000/8000 [==============================] - 4s 442us/step - loss: 0.3417 - accuracy: 0.8596
Epoch 10/100
8000/8000 [==============================] - 4s 490us/step - loss: 0.3412 - accuracy: 0.8622
Epoch 11/100
8000/8000 [==============================] - 4s 481us/step - loss: 0.3404 - accuracy: 0.8615
Epoch 12/100
8000/8000 [==============================] - 4s 443us/step - loss: 0.3403 - accuracy: 0.8619
Epoch 13/100
8000/8000 [==============================] - 4s 482us/step - loss: 0.3403 - accuracy: 0.8621
Epoch 14/100
8000/8000 [==============================] - 5s 593us/step - loss: 0.3399 - accuracy: 0.8602
Epoch 15/100
8000/8000 [==============================] - 4s 456us/step - loss: 0.3396 - accuracy: 0.8621
Epoch 16/100
8000/8000 [==============================] - 3s 436us/step - loss: 0.3391 - accuracy: 0.8601
Epoch 17/100
8000/8000 [==============================] - 4s 519us/step - loss: 0.3391 - accuracy: 0.8606
Epoch 18/100
8000/8000 [==============================] - 4s 553us/step - loss: 0.3388 - accuracy: 0.8600
Epoch 19/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3391 - accuracy: 0.86 - 4s 472us/step - loss: 0.3394 - accuracy: 0.8618
Epoch 20/100
8000/8000 [==============================] - 5s 585us/step - loss: 0.3383 - accuracy: 0.8624
Epoch 21/100
8000/8000 [==============================] - 3s 427us/step - loss: 0.3386 - accuracy: 0.8606
Epoch 22/100
8000/8000 [==============================] - 4s 551us/step - loss: 0.3379 - accuracy: 0.8633
Epoch 23/100
8000/8000 [==============================] - 4s 499us/step - loss: 0.3380 - accuracy: 0.8626
Epoch 24/100
8000/8000 [==============================] - 3s 432us/step - loss: 0.3375 - accuracy: 0.8635
Epoch 25/100
8000/8000 [==============================] - 5s 585us/step - loss: 0.3373 - accuracy: 0.8608
Epoch 26/100
8000/8000 [==============================] - 4s 450us/step - loss: 0.3374 - accuracy: 0.8646
Epoch 27/100
8000/8000 [==============================] - 5s 622us/step - loss: 0.3370 - accuracy: 0.8633
Epoch 28/100
8000/8000 [==============================] - 5s 623us/step - loss: 0.3368 - accuracy: 0.8639
Epoch 29/100
8000/8000 [==============================] - 6s 788us/step - loss: 0.3373 - accuracy: 0.8608
Epoch 30/100
8000/8000 [==============================] - 5s 618us/step - loss: 0.3364 - accuracy: 0.8633
Epoch 31/100
8000/8000 [==============================] - 6s 761us/step - loss: 0.3362 - accuracy: 0.8615
Epoch 32/100
8000/8000 [==============================] - 5s 651us/step - loss: 0.3363 - accuracy: 0.8625
Epoch 33/100
8000/8000 [==============================] - 6s 749us/step - loss: 0.3365 - accuracy: 0.8631
Epoch 34/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3365 - accuracy: 0.86 - 5s 659us/step - loss: 0.3366 - accuracy: 0.8616
Epoch 35/100
8000/8000 [==============================] - 6s 735us/step - loss: 0.3359 - accuracy: 0.8631
Epoch 36/100
8000/8000 [==============================] - 8s 940us/step - loss: 0.3365 - accuracy: 0.8639
Epoch 37/100
8000/8000 [==============================] - 6s 724us/step - loss: 0.3358 - accuracy: 0.8637
Epoch 38/100
8000/8000 [==============================] - 6s 729us/step - loss: 0.3365 - accuracy: 0.8626
Epoch 39/100
8000/8000 [==============================] - 5s 687us/step - loss: 0.3352 - accuracy: 0.8639
Epoch 40/100
8000/8000 [==============================] - 4s 519us/step - loss: 0.3357 - accuracy: 0.8621
Epoch 41/100
8000/8000 [==============================] - 4s 494us/step - loss: 0.3358 - accuracy: 0.8650
Epoch 42/100
8000/8000 [==============================] - 5s 602us/step - loss: 0.3354 - accuracy: 0.8624
Epoch 43/100
8000/8000 [==============================] - 4s 443us/step - loss: 0.3348 - accuracy: 0.8618
Epoch 44/100
8000/8000 [==============================] - 4s 452us/step - loss: 0.3361 - accuracy: 0.8631
Epoch 45/100
8000/8000 [==============================] - 6s 728us/step - loss: 0.3349 - accuracy: 0.8612
Epoch 46/100
8000/8000 [==============================] - 4s 555us/step - loss: 0.3353 - accuracy: 0.8662
Epoch 47/100
8000/8000 [==============================] - 4s 495us/step - loss: 0.3348 - accuracy: 0.8636
Epoch 48/100
8000/8000 [==============================] - 4s 527us/step - loss: 0.3348 - accuracy: 0.8640
Epoch 49/100
8000/8000 [==============================] - 3s 434us/step - loss: 0.3342 - accuracy: 0.8649
Epoch 50/100
8000/8000 [==============================] - 5s 615us/step - loss: 0.3344 - accuracy: 0.8637
Epoch 51/100
8000/8000 [==============================] - 3s 429us/step - loss: 0.3343 - accuracy: 0.8641
Epoch 52/100
8000/8000 [==============================] - 7s 925us/step - loss: 0.3340 - accuracy: 0.8646
Epoch 53/100
8000/8000 [==============================] - 8s 971us/step - loss: 0.3348 - accuracy: 0.86430s - loss: 0.3345 - accuracy:
Epoch 54/100
8000/8000 [==============================] - 5s 597us/step - loss: 0.3337 - accuracy: 0.8639
Epoch 55/100
8000/8000 [==============================] - 5s 680us/step - loss: 0.3336 - accuracy: 0.8645
Epoch 56/100
8000/8000 [==============================] - 5s 663us/step - loss: 0.3336 - accuracy: 0.8618
Epoch 57/100
8000/8000 [==============================] - 6s 759us/step - loss: 0.3339 - accuracy: 0.8633
Epoch 58/100
8000/8000 [==============================] - 5s 585us/step - loss: 0.3338 - accuracy: 0.8635
Epoch 59/100
8000/8000 [==============================] - 6s 717us/step - loss: 0.3335 - accuracy: 0.8634
Epoch 60/100
8000/8000 [==============================] - 5s 670us/step - loss: 0.3343 - accuracy: 0.8639
Epoch 61/100
8000/8000 [==============================] - 5s 681us/step - loss: 0.3329 - accuracy: 0.8615
Epoch 62/100
8000/8000 [==============================] - 5s 617us/step - loss: 0.3338 - accuracy: 0.8645
Epoch 63/100
8000/8000 [==============================] - 5s 650us/step - loss: 0.3332 - accuracy: 0.8629
Epoch 64/100
8000/8000 [==============================] - 4s 535us/step - loss: 0.3331 - accuracy: 0.8634
Epoch 65/100
8000/8000 [==============================] - 5s 587us/step - loss: 0.3335 - accuracy: 0.8626
Epoch 66/100
8000/8000 [==============================] - 3s 410us/step - loss: 0.3336 - accuracy: 0.8625
Epoch 67/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.3335 - accuracy: 0.8611
Epoch 68/100
8000/8000 [==============================] - 4s 523us/step - loss: 0.3337 - accuracy: 0.8643
Epoch 69/100
8000/8000 [==============================] - 6s 692us/step - loss: 0.3338 - accuracy: 0.8641
Epoch 70/100
8000/8000 [==============================] - 5s 613us/step - loss: 0.3329 - accuracy: 0.8644
Epoch 71/100
8000/8000 [==============================] - 5s 580us/step - loss: 0.3330 - accuracy: 0.8637
Epoch 72/100
8000/8000 [==============================] - 4s 501us/step - loss: 0.3325 - accuracy: 0.8641
Epoch 73/100
8000/8000 [==============================] - 4s 520us/step - loss: 0.3337 - accuracy: 0.8629
Epoch 74/100
8000/8000 [==============================] - 5s 599us/step - loss: 0.3342 - accuracy: 0.8611
Epoch 75/100
8000/8000 [==============================] - 3s 397us/step - loss: 0.3331 - accuracy: 0.8648
Epoch 76/100
8000/8000 [==============================] - 4s 481us/step - loss: 0.3328 - accuracy: 0.8620
Epoch 77/100
8000/8000 [==============================] - 5s 606us/step - loss: 0.3330 - accuracy: 0.8656
Epoch 78/100
8000/8000 [==============================] - 4s 542us/step - loss: 0.3326 - accuracy: 0.8621
Epoch 79/100
8000/8000 [==============================] - 4s 514us/step - loss: 0.3321 - accuracy: 0.8652
Epoch 80/100
8000/8000 [==============================] - 5s 602us/step - loss: 0.3334 - accuracy: 0.8646
Epoch 81/100
8000/8000 [==============================] - 4s 472us/step - loss: 0.3320 - accuracy: 0.8648
Epoch 82/100
8000/8000 [==============================] - 5s 581us/step - loss: 0.3333 - accuracy: 0.8635
Epoch 83/100
8000/8000 [==============================] - 4s 465us/step - loss: 0.3327 - accuracy: 0.8627
Epoch 84/100
8000/8000 [==============================] - 5s 679us/step - loss: 0.3327 - accuracy: 0.8635
Epoch 85/100
8000/8000 [==============================] - 4s 515us/step - loss: 0.3323 - accuracy: 0.8620
Epoch 86/100
8000/8000 [==============================] - 5s 668us/step - loss: 0.3322 - accuracy: 0.8645
Epoch 87/100
 830/8000 [==>...........................] - ETA: 4s - loss: 0.3373 - accuracy: 0.8590

In [71]:
y_pred =classifier.predict(test_x)

In [72]:
y_pred = (y_pred > 0.5)

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
accuracy_score(test_y, y_pred)

0.86